<div class="post">
  <h2>Title VDM</h2>
  <h3>Name</h3>
  <div>
    <div style="color:red">0</div>
    <div style="color:green">0</div>
      <button type="button">Dislike</button>
      <button type="button">Like</button>
  </div>
</div>
